body {
    background-color: rgb(253, 251, 251)
    ;
}

#cabecalho {
    margin-top: 0;
}

#titulo {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#minha_foto {

}

#licoes_aprendidas {
font-size: 24px;
}

#licoes_a_aprender{
font-size: 18px;
}

#rodape{
background-color: black;
padding: 8px;
color: rgb(253, 251, 251);
}

.texto {
    display: inline-block;
}

